.title{
    position: relative;
    z-index: 1;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ser{
    box-sizing: border-box;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
    width: 350px;
    height: 250px;
    background: rgba(255, 255, 255, 0.5);
    filter: brightness(1.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
}
body{
    /* position: relative; */
    background-image: url(/BG2.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ser i {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%; /* Make the background circular */
    background-color: rgba(153, 205, 50, 0.773); /* Background color of the circle */
    color: white; /* Icon color */
    font-size: 30px;/* Adjust the icon size as needed */
    margin-bottom: 5px; /* Space between the icon and the text */
}
.ser h2{
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 0%;
}
.ser p{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Use the same background image */
    background-repeat: inherit;
    background-size: inherit;
    filter: brightness(40%); /* Decrease the brightness */
    z-index: 0; /* Place it behind the content */
}